In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('iris.csv')

df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [3]:
df = pd.read_csv("iris.csv")
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
print(df)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [5]:
to_drop = ['species']

In [6]:
df.drop(to_drop, inplace=True, axis=1)

In [7]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [8]:
df.drop(colums=to_drop, inplace=True)

TypeError: drop() got an unexpected keyword argument 'colums'

In [9]:
df.drop(colums=to_drop, inplace=True)

TypeError: drop() got an unexpected keyword argument 'colums'

In [10]:
df['Identifier'].is_unique

KeyError: 'Identifier'

In [11]:
df = df.set_index('Identifier')

KeyError: "None of ['Identifier'] are in the columns"

In [12]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [13]:
df['Identifier'].is_unique

KeyError: 'Identifier'

In [14]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [15]:
df = df.set_index('Identifier')
df.head()

KeyError: "None of ['Identifier'] are in the columns"

In [16]:
df['Identifier'].is_unique

KeyError: 'Identifier'

In [17]:
#df.drop(colums=to_drop, inplace=True)

In [18]:
df['Identifier'].is_unique

KeyError: 'Identifier'

In [19]:
df = pd.read_csv("iris.csv")
df.head()
df['sepal_length'].is_unique

False

In [20]:
df = pd.read_csv("iris.csv")
df.head()
df.loc[50]

sepal_length           7.0
sepal_width            3.2
petal_length           4.7
petal_width            1.4
species         versicolor
Name: 50, dtype: object

In [21]:
#df.set_index('Identifier', inplace=True)

In [22]:
df = pd.read_csv("iris.csv")
df.head()
df.dtypes.value_counts()

float64    4
object     1
dtype: int64

In [23]:
df.loc[5:, 'sepal_length'].head(10)

5     5.4
6     4.6
7     5.0
8     4.4
9     4.9
10    5.4
11    4.8
12    4.8
13    4.3
14    5.8
Name: sepal_length, dtype: float64

In [24]:
#df = df.set_index('sepal_length')
#df.head()

In [25]:
df = df.set_index('sepal_length')
df.head()

              sepal_width  petal_length  petal_width species
sepal_length
5.1                   3.5           1.4          0.2  setosa
4.9                   3.0           1.4          0.2  setosa
4.7                   3.2           1.3          0.2  setosa
4.6                   3.1           1.5          0.2  setosa
5.0                   3.6           1.4          0.2  setosa

In [26]:
df['sepal_width'].head(10)

sepal_length
5.1    3.5
4.9    3.0
4.7    3.2
4.6    3.1
5.0    3.6
5.4    3.9
4.6    3.4
5.0    3.4
4.4    2.9
4.9    3.1
Name: sepal_width, dtype: float64

In [27]:
df.loc[19]

KeyError: 19

In [28]:
df['sepal_width'].head(10)

sepal_length
5.1    3.5
4.9    3.0
4.7    3.2
4.6    3.1
5.0    3.6
5.4    3.9
4.6    3.4
5.0    3.4
4.4    2.9
4.9    3.1
Name: sepal_width, dtype: float64

In [29]:
df.loc[19]

KeyError: 19

In [30]:
df = pd.read_csv("iris.csv")
df.head()
df.loc[19]

sepal_length       5.1
sepal_width        3.8
petal_length       1.5
petal_width        0.3
species         setosa
Name: 19, dtype: object

In [31]:
df = pd.read_csv("iris.csv")
df.head()
df.loc[25]

sepal_length       5.0
sepal_width        3.0
petal_length       1.6
petal_width        0.2
species         setosa
Name: 25, dtype: object

In [32]:
olympics_df = pd.read_csv("iris.csv")
olympics_df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [33]:
olympics_df = pd.read_csv("iris.csv", header=0)
olympics_df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [34]:
new_names =  {'sepal_length': 'Length',
               'sepal_width': 'Width',
               'petal_length' : 'pLength',
               'petal_width' : 'pWidth'}

In [35]:
olympics_df.rename(columns=new_names, inplace=True)

In [36]:
olympics_df.head()

   Length  Width  pLength  pWidth species
0     5.1    3.5      1.4     0.2  setosa
1     4.9    3.0      1.4     0.2  setosa
2     4.7    3.2      1.3     0.2  setosa
3     4.6    3.1      1.5     0.2  setosa
4     5.0    3.6      1.4     0.2  setosa

In [37]:
olympics_df.size

750

In [38]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa